html, body {
    height: auto;
    width: 100%;
    margin: 0;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-style: italic;
}

/** {
   border: 1px solid red !important;
}*/

h1 {
   padding-top: 2%;
   margin-bottom: 0;
   font-weight: normal;
}

h4 {
   padding-bottom: 2%;
   padding-left: 1%;
   padding-right: 1%;
   font-weight: normal;
   margin: 5px;
}

#container {
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

   .album {
      padding: 1%;
      margin: 0 auto;
      height: auto;
      width: 250px;
      padding-bottom: 1%;
   }

   img {
      margin: 0 auto;
      width: 250px;
      height: 250px;
      box-shadow: 10px 10px 16px -3px rgba(0,0,0,0.10);
      transition: 0.4s;
      margin-bottom: 20px;
   }

   img:hover {
      transition: 0.4s;
      opacity: 0.75;

   }

   p {
      margin: 0;
      font-weight: bold;
      font-size: 14px;
   }

@media(max-width: 425px) {
   h4 {
      padding-bottom: 5%;
   }
   .album {
      padding: 1%;
      margin: 0 auto;
      height: 210px;
      width: 180px;
      margin-bottom: 30px;
   }

   img {
      width: 150px;
      height: 150px;
      box-shadow: 10px 10px 16px -3px rgba(0,0,0,0.10);
      transition: 0.4s;
      margin-bottom: 15px;
   }
}
